/* Navbar */
.navbar {
	background-color: #fff;
	padding: 20px 0;
}

.navbar .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar .main-menu ul {
	display: flex;
}

.navbar ul li a {
	padding: 10px 20px;
	display: block;
	font-weight: 600;
	transition: 0.5s;
}

.navbar ul li a:hover {
	color: var(--primary-color);
}

.navbar ul li a i {
	margin-right: 10px;
}

.navbar ul li:last-child {
	margin-left: 10px;
}

.logo img {
	height: 40px;
	display: block;
}

/* Hero */
.hero {
	margin-bottom: 50px;
}

.hero .container {
	background: url('../images/hero-bg.png') no-repeat;
	background-size: contain;
	background-position: center bottom;
	height: 550px;
}

.hero .hero-content {
	width: 70%;
}

.hero .hero-text {
	width: 70%;
	margin-bottom: 20px;
}

/* Video */
.video {
	padding: 10px 0 40px;
}

.video-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.video-preview {
	margin-bottom: 20px;
}

/* Testimonials */
.testimonials {
	padding: 40px 0;
}

.testimonials .testimonials-heading {
	width: 700px;
	margin-bottom: 40px;
}

.testimonials-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
}

.testimonials .card p:nth-child(2) {
	margin-top: 30px;
	font-weight: bold;
}

/* Pricing */
.pricing-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
	margin-top: 50px;
}

.pricing .pricing-card-subheading {
	margin-bottom: 30px;
}

.pricing .pricing-card-price {
	margin-bottom: 30px;
	padding: 20px;
	border-bottom: 1px solid #ccc;
}

.pricing ul {
	margin: 30px 0;
}

.pricing ul li {
	margin-bottom: 20px;
}

.pricing ul li i {
	margin-right: 10px;
}

.pricing .pricing-footer {
	margin: 30px 0;
}
